%h1 QFD: #{h(@qfd.name)}


%h2 Houses of Quality
= link_to("Create new HOQ", new_qfd_hoq_path(@qfd))

%ol
  = list_of(@qfd.hoqs) do |hoq|
    = link_to(h(hoq.name), [@qfd, hoq])

= link_to("My QFDs", qfds_path)