%h1 New Requirement

- form_for(@requirement) do |f|
  = f.error_messages
  = f.hidden_field(:hoq_id)
  .field
    = f.label(:name)
    %br
    = f.text_field(:name)
  .actions
    = f.submit("Create Requirement")