%h1 Requirement: #{h(@requirement.name)}

.breadcrumbs
  = link_to("My QFDs", qfds_path)
  &larr;
  = link_to(h(@qfd.name), qfd_path(@qfd))
  &larr;
  = link_to(h(@hoq.name), hoq_path(@hoq))
  &larr;
  =h @requirement.name


Updated: #{@requirement.updated_at}
%br
Created: #{@requirement.created_at}
