%h1 HOQ: #{h(@hoq.name)}

.breadcrumbs
  = link_to("My QFDs", qfds_path)
  &larr;
  = link_to(h(@qfd.name), qfd_path(@qfd))
  &larr;
  =h @hoq.name
  &larr;
  = link_to("Add new Requirement", new_requirement_path(:hoq_id =>@hoq))

%h2 Requirements:
%ul
  = list_of(@hoq.requirements) do |requirement|
    = link_to(h(requirement.name), requirement_path(requirement))
  - if @hoq.requirements.empty?
    %li
      %em No Requirements found

Updated: #{@hoq.updated_at}
%br
Created: #{@hoq.created_at}
