- if permitted_to?(:update, @qfd)
  - content_for(:head) do
    :javascript
      $(function () {
        updates_permitted_init();
      });

%h1 
  =h @hoq.name
  - if @hoq.qfd.public
    %span.public_icon
      = image_tag("icons/silk/world.png", :alt => "World", :title => "Public")
      [Public]
  - if permitted_to?(:update, @hoq)
    %span.rename_link
      = link_to("Rename", :anchor => "")
  %span.download_link
    = link_to("Download", download_qfd_path(@qfd))

%ul#breadcrumbs
  %li= link_to("My QFDs (Home)", qfds_path)
  = list_of(@qfd.hoq_list) do |hoq|
    = link_to_unless_current(h(hoq.name), [@qfd, hoq])
  %li= link_to("New HOQ", new_qfd_hoq_path(@qfd))

- matrix(@hoq.secondary_requirements, @hoq.primary_requirements, @hoq.first?)

%ul#column_menu.contextMenu
  %li.cut
    = link_to("Cut", "#cut")
  %li.delete
    = link_to("Delete", "#delete")
  %li.hide
    = link_to("Hide", "#hide")
  %li.insert_before
    = link_to("Insert Before", "#insert_before")
  %li.insert_after
    = link_to("Insert After", "#insert_after")
  %li.paste_before
    = link_to("Paste Before", "#paste_before")
  %li.paste_after
    = link_to("Paste After", "#paste_after")
  %li.unhide
    = link_to("Unhide", "#unhide")
    
%ul#row_menu.contextMenu
  %li.cut
    = link_to("Cut", "#cut")
  %li.delete
    = link_to("Delete", "#delete")
  %li.hide
    = link_to("Hide", "#hide")
  %li.insert_above
    = link_to("Insert Above", "#insert_above")
  %li.insert_below
    = link_to("Insert Below", "#insert_below")
  %li.paste_above
    = link_to("Paste Above", "#paste_above")
  %li.paste_below
    = link_to("Paste Below", "#paste_below")
  %li.unhide
    = link_to("Unhide", "#unhide")
