%h1 HOQ: #{h(@hoq.name)}

= link_to("Back to #{h(@qfd.name)}", @qfd)

%h2 Primary Requirements
= link_to("Add new primary requirement", new_hoq_primary_requirement_path(@hoq))
%ol.requirements.primary
  = list_of(@hoq.primary_requirements) do |req|
    =h req.name

%h2 Secondary Requirements
= link_to("Add new secondary requirement", new_hoq_secondary_requirement_path(@hoq))
%ol.requirements.secondary
  = list_of(@hoq.secondary_requirements) do |req|
    =h req.name