%h1 HOQ: #{h(@hoq.name)}

= link_to("Back to #{h(@qfd.name)}", @qfd)
%br
= link_to("Add new primary requirement", new_hoq_primary_requirement_path(@hoq))
%br
= link_to("Add new secondary requirement", new_hoq_secondary_requirement_path(@hoq))

%h1 Matrix
- matrix(@hoq.secondary_requirements, @hoq.primary_requirements)