%h1 Welcome

#call_to_register_box
  New to QFDBuilder?  #{link_to("Click here to register", register_path)}.  
  It's free.

- form_for(@user_session) do |f|
  = f.error_messages

  .field
    = f.label(:email)
    %br
    = f.text_field(:email)

  .field
    = f.label(:password)
    %br
    = f.password_field(:password)

  .field
    = f.check_box(:remember_me)
    = f.label(:remember_me)

  .actions
    = f.submit("Log in")
